extends ../components/base/layout

block variables
  - const title = "Sitemap"

block main
  -
    const pages = [
      {
        name: "Main page — index.html",
        src: "index.html"
      },
      {
        name: "404 page — 404.html",
        src: "404.html"
      },
    ]

  main
    .sitemap
      .container
        .sitemap__logo
          img(src="img/content/logo.png", width="300", alt="Logo powerful team")
        h1.title-h1 Sitemap
        ol
          each page in pages
            li
              if page.id
                label(for=page.id)
                  span!= page.name
                input.visually-hidden(type="checkbox", checked=true, id=page.id)
                div
                  ul
                    each item in page.innerList
                      li
                        a(href= item.src)= item.name
              else
                a(href= page.src)= page.name
